.wrapper {
  width: 100%;
  height: calc(100vw * 0.5);
  margin: 100px 0;
  overflow: hidden;
  position: relative;

  img {
    opacity: 0;
    object-fit: cover;
    object-position: left;
  }

  p {
    color: #fff;
    right: 20px;
    bottom: 20px;
    position: absolute;
    font-size: 3rem;
  }

  @media (min-width: 480px) {
    height: calc(100vw * 0.4);
  }

  @media (min-width: 640px) {
    p {
      font-size: 5rem;
    }
  }

  @media (min-width: 900px) {
    height: calc(100vw * 0.3);
  }
}