.wrapper {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: relative;
}

.preLoader {
  top: 50%;
  left: 50%;
  z-index: 100000;
  position: absolute;
  transform: translate(-50%, -50%);
  background: #fff;
}

.loaderWrapper {
  width: 2px;
  height: 140px;
  overflow: hidden;
  position: relative;
  background: rgb(247, 247, 247);
  border-radius: 2px;
}

.loader {
  width: 100%;
  height: 0;
  bottom: 0;
  position: absolute;
  background: #000;
}

.clipper {
  top: 0;
  height: 100vh;
  display: flex;
  overflow: clip;
  position: absolute;
  clip-path: inset(0 0 0 0);
  background: #fff;
  z-index: 1;

  &.left {
    left: 0;
    width: 50vw;
    justify-content: flex-end;

    @media (min-width: 900px) {
      left: 9vw;
      width: 41vw;
    }
  }

  &.right {
    right: 0;
    width: 50vw;
    justify-content: flex-start;
  }

  .text {
    color: #000;
    width: max-content;
    height: 100%;
    padding: 50px;
    display: flex;
    opacity: 0;
    align-items: center;

    @media (min-width: 560px) {
      padding: 80px;
    }
  }
}

.content {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;

  @media (min-width: 900px) {
    left: 10vw;
    width: 90vw;
  }
}

.cover {
  top: 0;
  left: 0;
  position: absolute;
  min-width: 100%;
  min-height: 100vh;

  img {
    object-fit: cover;
  }
}