.wrapper {
  top: 0;
  left: 0;
  width: 60px;
  height: 100vh;
  display: none;
  opacity: 0;
  z-index: -1;
  position: fixed;
  align-items: center;
  justify-content: center;

  @media (min-width: 640px) {
    display: flex;
  }
}

.logo {
  height: 15px;
  transform: rotate(90deg);
}