.wrapper {
  display: flex;
  padding: 0 15px;
  position: relative;
  align-items: center;
  margin-bottom: 100px;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 1060px) {
    padding: 0;
    flex-direction: row;
  }
}